<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Items List</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container-fluid text-center">
  <h1 class="text-center">Items List</h1>
  <div th:if="${goodMsg != null}" class="alert alert-success">
    [[${goodMsg}]]
  </div>
  <table class="table table-bordered table-striped">
    <tr>
      <thead>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Article</th>
      <th scope="col">Delete</th>
      <th scope="col">Edit</th>
      <th scope="col">Detail</th>
      </thead>
    </tr>
    <tbody class="table-group-divider">
    <!--      заполняем таблицу пробегая for-each по клиентам-->
    <th:block th:each="item:${all}">
      <tr>
        <th scope="row">[[${item.id}]]</th>
        <th scope="row" >[[${item.itemName}]]</th>
        <th scope="row" >[[${item.itemArticle}]]</th>
        <th scope="row" ><a th:href="@{'/item/delete/' + ${item.id}}" class="btn btn-danger">Delete</a></th>
        <th scope="row" ><a th:href="@{'/item/update/' + ${item.id}}" class="btn btn-primary">Update</a></th>
        <th scope="row" ><a th:href="@{'/item/detail/' + ${item.id}}" class="btn btn-warning">Detail</a></th>
      </tr>
    </th:block>
    </tbody>
  </table>
  <div>
    <a th:href="@{/item/add}" class="btn btn-success" >Add New Client</a>
    <a th:href="@{/}" class="btn">Go Home</a>
  </div>
</div>
</body>
</html>