<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Item</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<h1 class="text-center">Edit Item</h1>
<form method="post" th:action="@{/item/update}" th:object="${item}">
    <input th:field=" *{id}" hidden/>
    <label for="item-name" >Item Name:</label>
    <!--        Привязка к вводу имени-->
    <input id="item-name" th:type="text" th:field="*{itemName}" required minlength="1" maxlength="255"/>

    <label for="item-art">Item Article</label>
    <input id="item-art" th:type="number" th:field="*{itemArticle}">

    <button class="btn btn-success">Add</button>
    <a th:href="@{/item/all}" class="btn btn-danger">Cancel</a>
</form>
</body>
</html>