<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Client</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
  <h1 class="text-center">Edit Client</h1>
    <form method="post" th:action="@{/client/update}" th:object="${client}">
        <input th:field=" *{id}" hidden/>
        <label for="client-name" >Client Name:</label>
    <!--        Привязка к вводу имени-->
        <input id="client-name" th:type="text" th:field="*{nameClient}" required minlength="1" maxlength="255"/>
        <button class="btn btn-success">Add</button>
        <a th:href="@{/client/all}" class="btn btn-danger">Cancel</a>
    </form>
</body>
</html>