<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
    <h1 class="text-center">
        <small class="text-muted">Welcome to Orders App</small>
    </h1>

    <h3><a th:href="@{/client/all}" class="callout-warning">Manage Clients</a></h3>
    <h3><a th:href="@{/order/all}" class="callout-warning">Manage Orders</a></h3>
    <h3><a th:href="@{/item/all}" class="callout-warning">Manage Items</a></h3>
</body>
</html>